@use "../../styles/style.scss" as *;

.echo-sets {
  &__item {
    @include flexible();
    & {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      gap: 10px;
      background-color: $color1;
      border: 1px solid rgba($color2, 0.5);
      box-shadow: 0px 0px 10px 0px $color2;
      border-radius: 15px;
      padding: 15px;
    }
  }
  &__title-block {
    @include flexible();
    & {
      width: 100%;
      justify-content: flex-start;
      background-color: $color10;
      border-radius: 15px;
      padding: 5px;
      background: rgba($color2, 0.5);
    }
  }
  &__img {
    object-fit: cover;
    object-position: top;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  &__h2 {
    @include flexible();
    @include textType15();
    & {
      text-align: center;
      font-weight: bold;
      text-shadow: 0 0 10px black;
    }
  }
  &__h3 {
    @include textType13();
    @include flexible();
    & {
      font-weight: bold;
    }
  }

  &__descr-block {
    @include flexible();
    & {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      justify-content: flex-start;
    }
  }
  &__text {
    @include textType1();
  }
  &__h4 {
    @include textType1();
    @include flexible();
    & {
      font-weight: bold;
      margin-top: 20px;
    }
  }
  &__text-2 {
    @include textType08();
  }
  &__line {
    height: 2px;
    width: 70%;
    border-bottom: 1px solid rgba($color2, 0.3);
  }
  &__resonators-list {
    @include listReset();
    & {
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      grid-template-rows: auto;
      width: 100%;
    }
  }
  &__resonators-item {
    max-width: 70px;
  }
  &__resonators {
    margin-top: auto;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .echo-sets__item {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .echo-sets__h3 {
    font-weight: bold;
  }
}
