@use "../../styles/style.scss" as *;

.echo-sets {
  &__item {
    @include flexible();
    & {
      position: relative;
      flex-direction: column;
      width: 100%;
      gap: 10px;
      background-color: $color1;
      border: 1px solid rgba($color2, 0.5);
      box-shadow: 0px 0px 10px 0px $color2;
      border-radius: 15px;
      padding: 15px;
    }
  }
  &__title-block {
    @include flexible();
  }
  &__img {
    object-fit: cover;
    object-position: top;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  &__h2 {
    @include textType2();
    & {
      text-align: start;
      font-weight: bold;
    }
  }
  &__h3 {
    @include textType13();
    @include flexible();
    & {
      font-weight: bold;
    }
  }
  &__descr-block {
    @include flexible();
    & {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__text {
    @include textType1();
  }
  &__h4 {
    @include textType1();
    @include flexible();
    & {
      font-weight: bold;
      margin-top: 20px;
    }
  }
  &__text-2 {
    @include textType08();
  }
}

@media (max-width: 750px) {
  .echo-sets__item {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .echo-sets__h3 {
    font-weight: bold;
  }
}
