@use "../../styles/style.scss" as *;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  width: 100%;

  &__content {
    @include flexible();
    flex-direction: column;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__item {
    @include standartTransition();
    @include standartAnimZoom();

    a {
      display: block;
      height: 100%;
      outline: none;
    }
  }
}

// СЕКЦИЯ ПАСТЫ
.pasta {
  margin-bottom: 15px;
  z-index: 2;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 740px;
    border: 1px solid $color2;
    border-radius: 25px;
    background-color: $color1;
    padding: 15px;
  }
  &__text {
    @include textReset();
    @include textType15();
    user-select: none;
  }
}

// СЕКЦИЯ ССЫЛОК
.links {
  margin-bottom: 20px;
  z-index: 2;
  &__list {
    @include listReset();
    @include flexible();
    gap: 20px;
  }
  &__item {
    @include standartTransition();
    @include standartAnimZoom();
    & {
      background-color: $color1;
      border: 1px solid $color2;
      border-radius: 7px;
      min-width: 183px;
      padding: 15px 5px;
    }
    a {
      @include textType1();
      display: block;
      outline: none;
      user-select: none;
    }
  }
}

// СЕКЦИЯ ЧИБИ
.chibi {
  margin-bottom: 20px;
  .container {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    @include flexible();
    flex-direction: column;
    position: relative;
    width: 50%;
  }
  &__btn {
    @include btnReset();
    animation: pulse 1.5s infinite;
  }

  &__cloud-container {
    @include standartTransition();
    position: absolute;
    max-width: 300px;
    top: -25px;
    left: -300px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: rotate(-5deg);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__cloud-img {
    z-index: 0;
  }
  &__cloud-text {
    @include textReset();
    @include textType1();
    position: absolute;
    max-width: 310px;
    top: 45%;
    left: 50%;
    transform: rotate(-8deg) translate(-50%, -50%);
    font-weight: 900;
    filter: invert(1);
    z-index: 1;
  }

  &__hint {
    position: absolute;
    left: -30px;
    top: 50px;
    filter: invert(1);

    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  &__hint-text {
    @include textReset();
    @include textType1();
    font-weight: 900;
    color: #000;
  }
  &__chibi {
    width: 440px;
    object-fit: contain;
  }
}

@media (max-width: 620px) {
  .pasta {
    &__text {
      @include textType1();
    }
  }
  .links {
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      padding: 10px;
      min-width: 150px;
      a {
        @include textType08();
      }
    }
  }
  .chibi {
    &__cloud-container {
      max-width: 230px;
      top: -23px;
      left: -197px;
    }
    &__cloud-text {
      @include textType08();
    }
  }
}

@media (max-width: 350px) {
  .pasta {
    &__text {
      @include textType08();
    }
  }
  .links {
    &__list {
      gap: 5px;
    }
    &__item {
      min-width: 100px;
    }
  }
  .chibi {
    &__cloud-container {
      max-width: 170px;
      top: -20px;
      left: -150px;
    }
    &__cloud-text {
      @include textType05();
    }
  }
}

@media (max-width: 270px) {
  .chibi {
    &__cloud-container {
      max-width: 130px;
      top: -20px;
      left: -100px;
    }
    &__hint {
      top: 30px;
    }
  }
}

@media (max-width: 180px) {
  .chibi {
    &__cloud-container {
      max-width: 100px;
      top: -20px;
      left: -75px;
    }
    &__cloud-text{
      @include textType03;
    }
    &__hint {
      top: 10px;
    }
    &__hint-text {
      @include textType05;
      filter: invert(1);
    }
  }
}
