@use "../../styles/style.scss" as *;

.resonators {
  @include flexible();
  flex-direction: column;
  margin-bottom: 20px;
  // ФИЛЬТР ЭЛЕМЕНТОВ
  &__elements-listContainer {
    position: relative;
    width: 50%;
    margin-bottom: 10px;
  }
  &__elements-btn {
    @include btnReset();
    display: flex;
    width: 100%;
    height: fit-content;
  }
  &__elements-img {
    width: 100%;
  }
  &__elements-list {
    @include listReset();
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 0 10px;
  }
  &__elements-list {
    height: fit-content;
  }
  &__elements-btn_reset {
    position: relative;
  }
  &__elements-background {
    position: absolute;
    width: 100%;
    height: 50%;
    background: $color1;
    border-radius: 40px;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: -1;
  }
  // ПЕРСОНАЖИ
  &__list {
    @include listReset();
    @include flexible();
    gap: 20px;
  }

  &__item {
    @include standartTransition();
    @include flexible();
    @media (hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.03);
      z-index: 2;
    }
    a {
      @include standartTransition();
      display: block;
      height: 100%;
      width: fit-content;
      outline: none;
      &:focus,
      &:active {
        transform: scale(1.01);
        z-index: 2;
      }
    }
  }
}

.filter {
  @include flexible();
  flex-direction: column;
  background: url("../../assets/image/bannersBackground.webp") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
  width: 100%;
  &__search {
    @include textType1();
    width: 100%;
    background: $color1;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    &::placeholder {
      text-align: center;
      font-weight: 400;
      font-size: 19px;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__choose {
    @include flexible();
    flex-direction: column;
    width: 70%;
    background: $color1;
    padding: 10px;
    border-radius: 5px;
  }
  &__h2 {
    @include textType1();
    padding: 5px;
    max-width: 60%;
    width: 100%;
    background: $color1;
    filter: brightness(1.5);
    margin-bottom: 20px;
  }
  &__btn-block {
    @include flexible();
    gap: 10px;
  }
  &__btn {
    @include btnReset();
    @include textType1();
    @include standartTransition();
    border-bottom: 1px solid $color1;
    &:hover,
    &:focus {
      border-bottom: 1px solid $color9;
    }
    &:active {
      border-bottom: 1px solid $color5;
    }
  }
  &__btn-borderbottom {
    border-bottom: 1px solid $color9;
  }
}

@media (max-width: 750px) {
  .resonators {
    &__elements-listContainer {
      width: 100%;
    }
  }
}
@media (max-width: 450px) {
  .resonators {
    &__elements-list {
      @include listReset();
      @include flexible();
      flex-wrap: wrap;
      gap: 5px;
      padding: 10px 10px;
    }
    &__elements-btn_reset {
      img {
        width: 80%;
      }
    }
    &__elements-background {
      height: 100%;
    }
    &__elements-img {
      width: 80%;
    }
  }
  .filter {
    &__choose {
      width: 100%;
    }
  }
}

@media (max-width: 350px) {
  .resonators__elements-img {
    width: 50px;
  }
  .filter {
    padding: 5px;
    &__h2 {
      @include textType08();
      padding: 5px;
      margin-bottom: 10px;
    }
    &__btn {
      @include textType08();
    }
    &__search {
      &::placeholder {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 270px) {
  .resonators__elements-img {
    width: 40px;
  }
  .filter {
    padding: 5px;
    &__choose {
      padding: 5px;
    }
    &__h2 {
      @include textType08();
      padding: 5px;
      margin-bottom: 10px;
      max-width: 100%;
    }
    &__btn-block {
      flex-direction: column;
    }
    &__btn {
      @include textType08();
    }
    &__search {
      &::placeholder {
        font-size: 15px;
      }
    }
  }
}
