@use "../../styles/style.scss" as *;

.feedback {
  margin-bottom: 20px;
  &__h2 {
    @include textReset();
    @include textType2();
    margin-bottom: 10px;
    text-decoration: underline;
  }
  &__link {
    @include textType1();
    background-color: $color1;
    border: 1px solid $color2;
    border-radius: 7px;
    min-width: 150px;
    padding: 5px;
  }
  &__descr {
    @include flexible();
    @include textType1();
    flex-direction: column;
    color: $white;
    gap: 10px;
  }
  &__descr-underline {
    text-decoration: underline;
  }
  &__ol {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    li {
      text-align: start;
    }
  }
  &__egg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 0.1px solid $color2;
    font-size: 2px;
    padding: 2px;
    border-radius: 15px;
  }
}

@media (max-width: 350px) {
  .feedback {
    &__h2 {
      @include textType15();
      margin-bottom: 10px;
    }
    &__link {
      @include textType08();
      padding: 5px;
      min-width: 73px;
    }
    &__descr {
      @include textType08();
    }
  }
}
