@use "sass:color";

$main: #120D1F;
$white: #fff;   
$color1: #212121;
$color2: #7B00FFED;
$color3: #B4B4B4;
$color4: #120D1F;
$color5: #5300E2;
$color6: #96FFA2;
$color7: #FFB8B8;

$red: #FF0004;
$green: #00FF09;
$purple: #5300E2;
$cian: #02F6FF;

$standartborder: 15px;
