@use "sass:color";

$main: #19161C;
$white: #fff;
$color1: #2A282F;
$color2: #8D53FF;
$color3: #b4b4b4;
$color4: #19161C;
$color5: #5300e2;
$color6: #96ffa2;
$color7: #ffb8b8;
$color8: #dd00ff;
$color9: #dd00ff90;
$color10: #646366;


$red: #ff0004;
$green: #00ff09;
$purple: #b57ae8;
$cian: #02f6ff;
$yellow: #ffea00;

$standartborder: 15px;
