@use "../../styles/style.scss" as *;

.header {
  background: $color1;
  width: 100%;
  &__nav {
    @include flexible();
    & {
      padding: 10px 0;
      position: relative;
      user-select: none;
      width: 100%;
      justify-content: flex-start;
      padding-left: 50px;
      gap: 20px;
    }
  }
  &__list {
    @include listReset();
    @include flexible();
    & {
      gap: 10px;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    &:nth-child(even) {
      justify-content: flex-start;
    }
    position: relative;
  }
  &__link-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: fit-content;
    position: relative;
  }

  &__link {
    @include standartTransition();
    @include textType1();
    & {
      outline: none;
      text-align: center;
      z-index: 1;
      text-transform: uppercase;
      position: relative;
      padding: 9px;
    }
    &:active {
      color: $color2;
      filter: contrast(4);
    }
  }
  &__logo {
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 50px;
  }
}

.btn-style700 {
  position: relative;
  border-color: $color2;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: $color2;
    border-radius: 2px;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
    opacity: 0;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 0px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 0px 0 0px;
  }
  &:hover {
    border-color: $color2;
    // color: $color2;
    &::before {
      width: 100%;
      border-width: 0px 0 1px 0;
    }
    &::after {
      height: 100%;
      border-width: 0px 0px 0px 0px;
    }
    &::before,
    &::after {
      opacity: 1;
    }
  }
}


@media (max-width: 650px) {
  .header {
    &__logo {
      height: 25px;
    }
    &__nav {
      @include flexible();
      & {
        padding: 5px 15px;
        gap: 5px;
        flex-direction: column;
        margin-bottom: 5px;
      }
    }
    &__link {
      padding: 0px;
      padding-bottom: 2px;
    }
    &__list {
      width: 100%;
    }
  }
}

@media (max-width: 280px) {
  .header {
    &__nav {
      @include flexible();
      & {
        justify-content: flex-start;
        padding: 5px 15px;
        gap: 5px;
      }
    }
  }
}
