@use "../../styles/style.scss" as *;

.header {
  background: $color1;
  width: 100%;
  margin-bottom: 20px;
  &__nav {
    @include flexible();
    flex-direction: column;
    padding: 0 0 10px;
    position: relative;
    user-select: none;
  }
  &__list {
    @include listReset();
    @include flexible();
    gap: 10px;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    &:nth-child(even) {
      justify-content: flex-start;
    }
  }
  &__link-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: fit-content;
    position: relative;
  }

  &__link {
    @include standartTransition();
    @include textType1();
    @include standartAnimZoom();
    & {
      padding: 9px;
      outline: none;
      background-color: $color4;
      border: 1px solid $color2;
      border-radius: 7px;
      min-width: 111px;
      text-align: center;
    }
  }
  &__logo {
    overflow: hidden;
    width: 250px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
  &__game {
    width: 80px;
    position: absolute;
    right: -75px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }
}

@media (max-width: 558px) {
  .header__game {
    display: none;
  }
}

@media (max-width: 415px) {
  .header {
    &__link {
      @include textType1();
      padding: 9px;
    }
  }
}

@media (max-width: 350px) {
  .header {
    &__link {
      @include textType08();
      padding: 5px;
    }
    &__nav {
      padding: 5px 0;
    }
  }
}

@media (max-width: 179px) {
  .header {
    &__link {
      @include textType08();
      padding: 5px;
    }
    &__link-img{
      margin-bottom: 10px;
    }
  }
}
