@use "../../styles/style.scss" as *;

.header {
  background: $color1;
  width: 100%;
  &__nav {
    @include flexible();
    padding: 10px 0;
    position: relative;
    user-select: none;
    width: 100%;
    justify-content: flex-start;
    padding-left: 50px;
    gap: 20px;
  }
  &__list {
    @include listReset();
    @include flexible();
    gap: 10px;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    justify-content: flex-end;
    &:nth-child(even) {
      justify-content: flex-start;
    }
  }
  &__link-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: fit-content;
    position: relative;
  }

  &__link {
    @include standartTransition();
    @include textType1();
    padding: 9px;
    outline: none;
    text-align: center;
    &:hover,
    &:focus {
      color: $color2;
    }
    &:active {
      color: $color2;
      filter: contrast(4);
    }
  }
  &__logo {
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    height: 50px;
  }
}

@media (max-width: 350px) {
  .header {
    &__nav{
      padding: 5px 15px;
      gap: 10px;
    }
    &__link {
      @include textType08();
      padding: 5px;
    }
  }
}
