@use "../../styles/style.scss" as *;

.footer {
  margin-top: auto;
  width: 100%;
  background: $color1;
}

.navigation {
  @include flexible();
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 26px 0 5px;

  &__h2 {
    margin-bottom: 10px;
    color: $color3;
    font-size: 24px;
    font-weight: lighter;
  }

  &__container {
    @include flexible();
    flex-direction: column;
    &:first-child{
      margin-right: 20px;
    }
  }
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__link {
    @include flexible();
    @include standartTransition();
    gap: 5px;
    @media (hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
    &:focus,
    &:active {
      transform: scale(1.1);
      z-index: 2;
    }
    svg {
      width: 23px;
    }
    img {
      width: 23px;
    }
  }
  &__text{
    color: $white;
  }
}

.nav-icon {
  width: 20px;
  height: 20px;
}
