@use "../../styles/style.scss" as *;

.footer {
  @include flexible();
  & {
    flex-direction: column;
    width: 100%;
    background: $color1;
    padding: 10px 0;
    position: relative;
  }
  &__privacy {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  &__privacy-link {
    @include textType08();
    @include standartTransition();
    @include standartAnimZoom();
    & {
      text-wrap: nowrap;
      color: $white;
      text-align: center;
      text-decoration: underline;
    }
  }
  &__copyright {
    @include textType08();
    & {
      display: block;
      color: $white;
      text-align: center;
    }
  }
}

.navigation {
  @include flexible();
  & {
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    gap: 20px;
    margin-bottom: 5px;
  }

  &__container {
    @include flexible();
    & {
      flex-direction: column;
    }
  }
}

.contacts-footer {
  @include listReset();
  @include flexible();
  & {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  &__item {
    @include textType08();
    & {
      color: $white;
      text-decoration: underline;
    }
    &_custom {
      text-decoration: none;
    }
  }
  &__link {
    text-decoration: underline;
  }
}

@media (max-width: 480px) {
  .footer {
    &__copyright {
      display: block;
      color: $white;
      text-align: center;
    }
  }
}

@media (max-width: 179px) {
  .footer {
    &__copyright {
      display: block;
      color: $white;
      text-align: center;
    }
  }
}
