@use "../../styles/style.scss" as *;

.countdown {
  @include flexible();
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: $color8;
  font-family: "lcdnormal";
  margin-bottom: 50px;

  &__item {
    @include flexible();
    flex-direction: column;
    font-family: "lcdnormal";
  }

  &__value {
    font-size: 1.8rem;
    color: inherit;
    font-family: "lcdnormal";
    letter-spacing: 6px;
  }

  &__label {
    font-size: 0.9rem;
    color: #999;
  }

  &__span {
    color: inherit;
  }
}
