@use "../../styles/style.scss" as *;

.countdown {
  @include flexible();
  @include textType1();
  gap: 3px;
  font-weight: bold;
  color: $color8;
  font-family: "lcdnormal";
  margin-bottom: 20px;
  align-items: flex-start;

  &__item {
    @include flexible();
    flex-direction: column;
    font-family: "lcdnormal";
  }

  &__value {
    @include textType1();
    color: inherit;
    font-family: "lcdnormal";
  }

  &__label {
    @include textType05();
    color: #999;
  }

  &__span {
    color: inherit;
    height: 100%;
  }
}