@use "../../styles/style.scss" as *;

.countdown {
  @include flexible();
  & {
    font-size: 1em;
    gap: 3px;
    font-weight: bold;
    color: $color8;
    font-family: "lcdnormal";
    margin-bottom: 20px;
    align-items: flex-start;
  }

  &__item {
    @include flexible();
    & {
      flex-direction: column;
      font-family: "lcdnormal";
    }
  }

  &__value {
    font-size: 1em;
    color: inherit;
    font-family: "lcdnormal";
  }

  &__label {
    font-size: 0.5em;
    color: #999;
  }

  &__span {
    color: inherit;
    height: 100%;
  }
}
