@use "../../styles/style.scss" as *;

.accordion {
  @include flexible();
  flex-direction: column;
  &__content {
    @include standartTransition();
    max-height: 0;
    overflow: hidden;
    width: 100%;
  }
  &__content--open {
    max-height: 10000px;
  }
  &__inner {
    @include textType2();
    width: 100%;
    padding: 15px 20px;
    background: $color1;
    border: 1px solid $color2;
    border-radius: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
  }
  &__button {
    @include btnReset();
    @include standartTransition();
    @include textType15();
    @include backgroundGradient();
    @include standartAnimZoom();
    & {
      margin: 10px 0;
      padding: 6px 18px;
      border-radius: 22px;
    }
  }
}

@media (max-width: 480px) {
  .accordion {
    &__button {
      @include textType1();
      & {
        margin: 10px 0;
        padding: 5px 10px;
      }
    }
  }
}

@media (max-width: 296px) {
  .accordion {
    &__button {
      @include textType05();
      & {
        margin: 5px 0;
        padding: 5px 10px;
      }
    }
  }
}
