@use "../../styles/style.scss" as *;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.chibi {
  margin-bottom: 20px;
  .container {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    @include flexible();
    flex-direction: column;
    position: relative;
    width: 50%;
  }
  &__btn {
    @include btnReset();
    animation: pulse 1.5s infinite;
  }

  &__cloud-container {
    @include standartTransition();
    position: absolute;
    max-width: 300px;
    top: -25px;
    left: -300px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: rotate(-5deg);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__cloud-img {
    z-index: 0;
  }
  &__cloud-text {
    @include textReset();
    @include textType1();
    position: absolute;
    max-width: 310px;
    top: 45%;
    left: 50%;
    transform: rotate(-8deg) translate(-50%, -50%);
    font-weight: 900;
    filter: invert(1);
    z-index: 1;
  }

  &__hint {
    position: absolute;
    left: -30px;
    top: 50px;
    filter: invert(1);

    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  &__hint-text {
    @include textReset();
    @include textType1();
    font-weight: 900;
    color: #000;
  }
  &__chibi {
    width: 440px;
    object-fit: contain;
  }
}
@media (max-width: 620px) {
  .chibi {
    &__cloud-container {
      max-width: 230px;
      top: -23px;
      left: -197px;
    }
    &__cloud-text {
      @include textType08();
    }
  }
}

@media (max-width: 350px) {
  .chibi {
    &__cloud-container {
      max-width: 170px;
      top: -20px;
      left: -150px;
    }
    &__cloud-text {
      @include textType05();
    }
  }
}

@media (max-width: 270px) {
  .chibi {
    &__cloud-container {
      max-width: 130px;
      top: -20px;
      left: -100px;
    }
    &__hint {
      top: 30px;
    }
  }
}

@media (max-width: 180px) {
  .chibi {
    &__cloud-container {
      max-width: 100px;
      top: -20px;
      left: -75px;
    }
    &__cloud-text {
      @include textType03;
    }
    &__hint {
      top: 10px;
    }
    &__hint-text {
      @include textType05;
      filter: invert(1);
    }
  }
}
