@use "../../styles/style.scss" as *;

.weapons {
  @include flexible();
  & {
    flex-direction: column;
    padding-bottom: 15px;
  }

  &__list {
    @include listReset();
    & {
      display: grid;
      grid-template-columns: repeat(10, 100px);
      gap: 15px;
      margin-bottom: 20px;
    }
  }
  &__item {
    @include standartTransition();
    @include flexible();
    & {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
    }
  }
  &__img {
    object-fit: contain;
    object-position: top;
  }
  &__h2 {
    @include textType2();
    & {
      text-align: start;
      font-weight: bold;
    }
  }
  &__h3 {
    @include textType08();
    @include flexible();
    & {
      text-align: center;
      margin-bottom: auto;
    }
  }
  &__h4 {
    @include textType13();
    & {
      text-align: start;
    }
  }
  &__btn {
    @include textType05();
    @include btnReset();
    @include flexible();
    @include standartTransition();
    @include standartAnimZoom();
    & {
      position: relative;
      width: 100%;
      border-radius: 10px;
      background-color: $color1;
      &-4 {
        border: 1px solid purple;
      }
      &-5 {
        border: 1px solid gold;
      }
    }
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
    color: #888;
  }

  &__content {
    @include flexible();
    & {
      justify-content: flex-start;
      border: 1px solid $color2;
      box-shadow: 0px 0px 15px $color2;
      border-radius: 15px;
      padding: 15px;
      gap: 15px;
      width: 70%;
    }
  }
  &__content-img {
    width: 206px;
    height: 206px;
    object-fit: cover;
    border-radius: 10px;
  }
  &__description-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__description-list {
    @include listReset();
    @include textType1();
    & {
      text-align: start;
    }
  }

  &__typedescr {
    @include flexible();
    & {
      gap: 15px;
      width: 50%;
      background-color: $color1;
      border-radius: 15px;
      padding: 5px;
      margin-bottom: 20px;
    }
  }
  &__typedescr-icon {
    width: 30px;
  }
  &__typedescr-text {
    @include textType13();
    @include flexible();
    & {
      min-height: 30px;
    }
  }
}

.weapons-filter {
  position: relative;
  &__listContainer {
    width: 100%;
    margin-bottom: 10px;
  }
  &__background {
    position: absolute;
  }
  &__list {
    @include listReset();
    @include flexible();
    & {
      gap: 15px;
      width: 100%;
    }
  }
  &__btn {
    @include btnReset();
    @include standartTransition();
    & {
      width: 70px;
    }
    &:hover {
      transform: scale(1.15);
    }
  }
  &__img_zoom {
    @include standartTransition();
    & {
      transform: scale(1.2);
      filter: drop-shadow(4px 4px rgba($color2, 0.5));
    }
  }
  &__search {
    @include textType1();
    & {
      width: 50%;
      background: $color1;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      margin-bottom: 20px;
    }
    &::placeholder {
      text-align: center;
      font-weight: 400;
      font-size: 19px;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 750px) {
  .weapons__content-img {
    width: 150px;
    height: 150px;
  }
  .weapons__content {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .weapons-filter__search {
    width: 100%;
  }
  .weapons-filter__btn {
    width: 50px;
  }
  .weapons__content-img {
    width: 100px;
    height: 100px;
  }
  .weapons__typedescr {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .weapons__h2 {
    font-weight: bold;
    text-align: start;
  }
  .weapons__h4 {
    text-align: start;
  }
  .weapons__description {
    text-align: start;
  }
  .weapons-filter__list {
    gap: 5px;
    flex-wrap: wrap;
  }
}
